button {
  border: none;
  font-family: $font-primary;
}

.mc-ans-btn {
  width: 45%;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  margin: 0.5% 0.5% 1% 0.5%;
}

.btn-medium {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: $text-base-size * 1.5;
  border: none;
}

.btn-small {
  padding: 3px;
  border-radius: 5px;
  margin: 5px;
  font-size: $text-base-size * 1.2;
  border: none;
}

.btn-xsmall {
  padding: 2px;
  border-radius: 5px;
  margin: 3px;
  font-size: $text-base-size * 0.6;
  border: none;
}

.btn-icon {
  background: transparent;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  .icon {
    height: 30px;
    width: 30px;
  }
  .icon-2 {
    height: 40px;
    width: 40px;
  }
}

.btn-transparent {
  background: transparent;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.btn-result {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}