@keyframes btn-pulse-light {
  0% {
    box-shadow: 0px 0px 1px 1px $lightblue;
  } 50% {
    box-shadow: 0px 0px 3px 3px $darkblue;
  }
}

@keyframes btn-pulse-dark {
  0% {
    box-shadow: 0px 0px 1px 1px $gray;
  } 50% {
    box-shadow: 0px 0px 3px 3px $black; 
  }
}