* {
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  padding: 15px;
}

.app {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  background-color: #2a4d69;
  min-height: 100vh;
}

.header {
  height: 50px;
  display: flex;
  flex-direction: row;

  .logo {
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
  }
  
  .title {
    text-align: left;
    font-size: var(text-base-size);
    text-decoration: none;
    flex-grow: 50;
    color: whitesmoke;
  }
  
  .navHead {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 8vh;
    text-align: right;
  }

  .login {
    display: flex;
    flex-direction: row;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  .logoutButton {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
  }
}

.footer {
  height: 50px;
  text-align: right;
  
  .navFooter {

  }
}

.page {
  min-height: 90vh;
  background-color: #e7eff6;
  text-align: center;
}

.quizHome {

  .classes {

  }
  
  .class {
    margin: 3px;
    height: 5vh;
    flex-grow: 1;
    box-shadow: 3px 2px #adcbe3;
  }
  
  .currentClass {
    margin: 3px;
    height: 5vh;
    flex-grow: 1;
    box-shadow: 3px 2px #adcbe3;
    animation: button-pulse 2s infinite;
  }
}

.quiz {
  display: flex;
  flex-direction: column;

  .questionList {
    display: flex;
    flex-direction: row;
    
    .questionNumber {
      margin: 3px;
      height: 5vh;
      flex-grow: 1;
      box-shadow: 3px 2px #adcbe3;
    }
  }
  
  .question {
    font-size: 20px;
    height: 30vh;
    margin: 5px;
    background-color: #adcbe3;
  }
  
  .answerList {
    display:flex;
    flex-direction: column;
    height: 40vh;
    overflow: scroll;
    margin: 5px;
    padding: 5px;
    background-color: #b9babd;
    
    .answer {
      display: flex;
      flex-direction: row;
    
      .answerChoice {
        margin: 5px;
        height: 5vh;
        width: 10%;
        box-shadow: 3px 2px #58595c;
      }
      
      .answerText {
        margin: 5px;
        padding-right: 10%;
        flex-grow: 1;
        font-size: 18px;
      }
    }
  }
  
  .questionNav {
    display: flex;
    flex-direction: row;
    .submit {
      margin: 5px;
      height: 8vh;
      flex-grow: 1;
      box-shadow: 4px 5px #adcbe3;
     }
     .navButton {
       margin: 5px;
       height: 8vh;
       flex-grow: 1;
       box-shadow: 4px 5px #adcbe3;
     }
  }
}

.admin {
  .questions {
    .model {
      background-color: transparent;
    }
  }


}

.questionPool {
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  .poolCategory {
    display: flex;
    padding: 5px;
    min-height: 5vh;
    flex-direction: row;
    .categorySelector {
      margin: 5px;
    }
  }
  .categoryQuestions {
    display: flex;
    padding: 5px;
    min-height: 5vh;
    flex-direction: row;
    .questionSelector {
      margin: 5px;
    }
  }
  .questionEditor {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    .editor {
      width: 50%;
      min-height: 80vh;
      margin: 10px;
      padding: 10px;
      border-style: solid;
      border-width: 1px;
      .fields {
        display: flex;
        justify-content: space-around;
        height: 10%;
        .id {
          height: 20px;
        }
        .category {
          height: 20px;
        } 
        .difficulty {
          height: 20px;
        }
        .languages {
          display: flex;
          flex-direction: column;
          .selected {
            background-color: #adcbe3;
          }
        }
      }
      .questionMDE {
        display: flex;
        height: 45%;
        .questionContainer {
          height: 100%;
          width: 100%;
          .languageSelector {
            height: 20px;
            display: flex;
            .selected {
              background-color: #adcbe3;
            }
          }
          .editor-toolbar {
            height: 40px;
            width: 80%;
          }
          .editor-statusbar {
            width: 80%;
          }
          .preview {
            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;
          }
          .CodeMirror {
            height: 90%;
            width: 80%;
            text-align: left;
          }
        }
        
      }
  
      .answer {
        display: flex;
        height: 45%;
        .type {
          display: flex;
          .mc {
  
          }
          .sa {
      
          }
        }
        .solution {
  
        }
        .multipleChoice {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .answers {
            display:flex;
            flex-direction: column;
          }
        }
      }
    }
    .preview {
      width: 50%;
      min-height: 80vh;
      margin: 10px;
      padding: 10px;
      border-style: solid;
      border-width: 1px;
    }
  }
  
  .btnAnim {
    animation: button-pulse 2s infinite;
  }
}



@keyframes button-pulse {
  0% {
    box-shadow: 3px 2px #adcbe3;  
  } 50% {
    box-shadow: 4px 3px #2a4d69;
  } 100% {
    box-shadow: 3px 2px #adcbe3;  
  }
}