.header-dark {
  background-color: $header-bg-color-dark;
}

.page-dark {
  background-color: $page-bg-color-dark;
}

.footer-dark {
  background-color: $footer-bg-color-dark;
}

.border1-dark {
  border-color: $border1-color-dark;
}

.mc-ans-btn-dark {
  transition: background-color 1s;
  &:hover {
    background-color: $mc-ans-btn-hover-dark;
    animation: btn-pulse-dark 2s infinite;    
  }
}

.option-dark {
  background-color: $option-color-dark;
  color: $option-text-dark;
  transition: background-color 1s;
  &:hover {
    background-color: $option-hover-dark;
    animation: btn-pulse-dark 2s infinite;
  }
}

.popup-dark {
  background-color: $popup-bg-color-dark;
}

.bg-1-dark {
  background-color: $bg-1-color-dark;
  color: $bg-1-font-color-dark;
}

.bg-2-dark {
  background-color: $bg-2-color-dark;
  color: $bg-2-font-color-dark;
}

.bg-3-dark {
  background-color: $bg-3-color-dark;
  color: $bg-3-font-color-dark;
}