.bg-1-dark {
  background-color: $bg-1-color-dark;
  color: $bg-1-font-color-dark;
}

.bg-2-dark {
  background-color: $bg-2-color-dark;
  color: $bg-2-font-color-dark;
}

.bg-3-dark {
  background-color: $bg-3-color-dark;
  color: $bg-3-font-color-dark;
}

.mc-ans-btn-dark {
  transition: background-color 1s;
  &:hover {
    background-color: $white;
    animation: btn-pulse-dark 2s infinite;    
  }
}

.option-dark {
  background-color: $option-color-dark;
  color: $option-text-dark;
  transition: background-color 1s;
  &:hover {
    background-color: $option-hover-dark;
    animation: btn-pulse-dark 2s infinite;
  }
}

.btn-dark {
  background-color: $btn-bg-dark;
}

.btn-selected-dark {
  background-color: $btn-bg-dark;
  box-shadow: 0px 0px 3px 3px $black; 
}

.btn-selected-2-dark {
  background-color: $btn-bg-dark;
  box-shadow: 0px 0px 3px 3px $gray; 
}

.btn-selected-anim-dark {
  background-color: $btn-bg-dark;
  animation: btn-pulse-dark 2s infinite;
}
