.header-light {
  background-color: $header-bg-color-light;
}

.page-light {
  background-color: $page-bg-color-light;
}

.footer-light {
  background-color: $footer-bg-color-light;
}

.border1-light {
  border-color: $border1-color-light; 
}

.mc-ans-btn-light {
  transition: background-color 1s;
  &:hover {
    background-color: $mc-ans-btn-hover-light;
    animation: btn-pulse-light 2s infinite;
  }
}

.option-light {
  background-color: $option-color-light;
  color: $option-text-light;
  transition: background-color 1s;
  &:hover {
    background-color: $option-hover-light;
    animation: btn-pulse-light 2s infinite;
  }
}

.popup-light {
  background-color: $popup-bg-color-light;
}

.bg-1-light {
  background-color: $bg-1-color-light;
  color: $bg-1-font-color-light;
}

.bg-2-light {
  background-color: $bg-2-color-light;
  color: $bg-2-font-color-light;
}

.bg-3-light {
  background-color: $bg-3-color-light;
  color: $bg-3-font-color-light;
}